<div class="container">
  <div class="menu">
    <div class="menu__logo">
      <a href="#">
        <svg class="icon-logo" width="220">
          <use href="/src/images/symbol-defs.svg#icon-logo"></use>
        </svg>
      </a>
    </div>
    <div class="menu__switch">
      <button>
        <a href=""></a>
      </button>
    </div>
    <div class="menu__nav">
      <a href="#">
        <svg class="icon-burger" width="50">
          <use href="/src/images/symbol-defs.svg#icon-burger"></use>
        </svg>
      </a>
      <nav class="navigation">
        <ul class="navigation__desktop">
          <li class="navigation__desktop--item">Home</li>
          <li class="navigation__desktop--item">About Us</li>
          <li class="navigation__desktop--item">How It's Made?</li>
          <li class="navigation__desktop--item">Our Products</li>
          <li class="navigation__desktop--item">Contact</li>
        </ul>
      </nav>
    </div>
  </div>
</div>
