<!DOCTYPE html>
<html lang="en">
  <body>
    <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Products</title>
      <!-- <link rel="stylesheet" href="./sass/index.scss" /> -->

      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

      <!-- <link rel="stylesheet" href="../sass/products.scss" /> -->
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link
        href="https://fonts.googleapis.com/css2?family=Titan+One&display=swap"
        rel="stylesheet"
      />
      <link
        href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,700;1,700&display=swap"
        rel="stylesheet"
      />
    </head>
    <main>
      <section class="section__products">
        <div class="container section__product">
          <p class="subtitle__products">100% natural</p>
          <h2 class="title__products">products</h2>
          <ul class="container__products">
            <li class="products container__product--1">
              <img
                class="product__image"
                src="/src/images/home-pic1.png"
                alt="Helado de fresa"
              />
              <div class="container__product--label--1">
                <h3 class="product__name">ice cream</h3>
                <div class="container__elipses">
                  <div class="product__elipse"></div>
                  <div class="product__elipse"></div>
                  <div class="product__elipse"></div>
                </div>
                <p class="description__product">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et. dolore magna aliqua
                  facilisis.
                </p>

                <img
                  class="product__arrow"
                  src="/src/images/arrow-right 4.svg"
                  alt="Helado de fresa"
                />
              </div>
            </li>

            <li class="products container__product--2">
              <img
                class="product__image"
                src="/src/images/home-pic1 (1).png"
                alt="Helado de cafe"
              />
              <div class="container__product--label--2">
                <h3 class="product__name">ice coffee</h3>
                <div class="container__elipses">
                  <div class="product__elipse"></div>
                  <div class="product__elipse"></div>
                  <div class="product__elipse"></div>
                </div>
                <p class="description__product">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et. dolore magna aliqua
                  facilisis.
                </p>

                <img
                  class="product__arrow"
                  src="/src/images/arrow-right 4.svg"
                  alt="Helado de fresa"
                />
              </div>
            </li>
            <li class="products container__product--3">
              <img
                class="product__image"
                src="/src/images/home-pic1 (2).png"
                alt="Milshakes"
              />
              <div class="container__product--label--3">
                <h3 class="product__name">milkshakes</h3>
                <div class="container__elipses">
                  <div class="product__elipse"></div>
                  <div class="product__elipse"></div>
                  <div class="product__elipse"></div>
                </div>
                <p class="description__product">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et. dolore magna aliqua
                  facilisis.
                </p>

                <img
                  class="product__arrow"
                  src="/src/images/arrow-right 4.svg"
                  alt="Helado de fresa"
                />
              </div>
            </li>
          </ul>
        </div>
      </section>
    </main>
  </body>
</html>
